$first-color:#412b75;
$second-color:#224b75;
$third-color:#386150;
$fourth-color:#58b09c;
$fifth-color: #c5e5de;


@mixin no-select {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none; 
         -moz-user-select: none;
          -ms-user-select: none; 
              user-select: none; 
}

@mixin no-styles {
    list-style-type: none;
    text-decoration: none;
    color:floralwhite;
    
}

@mixin margin-zero($pad-up-dn, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-dn $pad-left-right;
}

body{
    @include no-select();
    z-index: 0;
}

.navbar-dark{
    background: $first-color;
}


#input-search-bar{
    width: 400px;
    height: 60px;
    font-size: 25px;
    position: absolute;
}

#input-search-btn{
    margin-left: 338px;
    background: white;
    position: absolute;
    width: 60px;
    height: 60px;
    padding: 0px;
}

#form-group{
    margin-top: 3rem;
}

#input-search-btn span{
    font-size: 23px;
    color: #C2C0C1;
}

.nav-item {
    @include no-styles()
}

.nav-link {
    @include no-styles()
}

.nav-link span{
    margin-left: 40%;
}

footer {
    $second-color:#224b75;
    @include margin-zero(20px, 0px)
}